php-login/application/config/config.php
config/db.php
img/later/
firefox_extension/custom-toolbar-button@example.com/chrome/button.js
*~
config/define.php
/nbproject/
/php-login/
!/php-login/.htaccess
