.bookmarks  tr td a{
    text-decoration: none;
    color:inherit;
}

.bookmarks tr td{
    vertical-align:top;
}

.filter{
    //border:1px green solid;
    width:300px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.filter .filtercaption{
    color:green;
    vertical-align: top;
    font-size:0.7em;
}

.filter table tr td.caption{
    width: 80px;
    text-align: right;
}

.filter table tr td.input{
    width: auto;
    text-align: left;
}

.filter table tr td.input input{
    width: 210px;
}

.filter table{
    padding:0;
    margin: 0;
    width: 100%;
}

.hide{
    display:none;
}

.icon-padding{
    padding-top:2px;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
}

.line .domain{
    color:#C4C4C4;
    font-size:0.7em
}

.line .date{
    color:#C4C4C4;
}
.line .time{
    color:#C4C4C4;
}

.line.details .orgtitle{
    color:#C4C4C4;
    font-size:0.7em
}





/* opacity shit classes*/

.visibility-level-0{
    opacity:0.1;
}

.visibility-level-1{
    opacity:0.1;
}

.visibility-level-2{
    opacity:0.2;
}

.visibility-level-3{
    opacity:0.3;
}

.visibility-level-4{
    opacity:0.4;
}

.visibility-level-5{
    opacity:0.5;
}

.visibility-level-6{
    opacity:0.6;
}

.visibility-level-7{
    opacity:0.8;
}

.visibility-level-8{
    opacity:1.0;
}