ul.items{
    padding: 0;
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ul.items li{
    list-style: none;
    white-space: nowrap;
}

ul.items li a{
    text-decoration: none;
}

ul.items li a:link {
    color: inherit;
}

ul.items li a:visited {
    color: inherit;
}

ul.items li a:hover {
    color: inherit;
}

ul.items li a:active {
    color: inherit;
}

ul.items li span{
}

ul.items li span.date{
    font-size: 0.6em;
    padding-right: 15px;
    color: grey;
}

ul.items li span.time{
    font-size: 0.6em;
    padding-right: 15px;
    color: grey;
}

ul.items li span.title{
}

ul.items li span.domain{
    font-size: 0.6em;
    padding-left: 150px;
    color: grey;
}

div.icon{
    position:relative;
    width:16px;
    height:16px;
    display: inline-block;
    margin-bottom: -2px;
    margin-right: 4px;
}

div.icon div{
    position: absolute;
    background-color: white;
}

div.icon.remark{
    background-color: 0bab0b;
}

div.icon{
    background-color: f38401;
}

div.icon.remark div:nth-child(1){
    width: 3px;
    height:8px;
    top: 4px;
    left: 4px;
}

div.icon.remark div:nth-child(2){
    width: 2px;
    height:1px;
    top: 5px;
    left: 7px;
}

div.icon.remark div:nth-child(3){
    width: 3px;
    height:3px;
    top: 4px;
    left: 9px;
}

div.icon.remark div:nth-child(4){
    width: 0px;
    height:16px;
    top: 0px;
    right: 0px;
    background-color: white
}

div.icon.click div:nth-child(1){
    width: 8px;
    height:8px;
    top: 4px;
    left: 4px;
}

div.icon.click div:nth-child(2){
    width: 2px;
    height:4px;
    top: 6px;
    left: 7px;
    background-color: inherit
}

div.icon.click div:nth-child(3){
    width: 3px;
    height:2px;
    top: 7px;
    left: 9px;
    background-color: inherit
}

div.icon.click div:nth-child(4){
    width: 0px;
    height:16px;
    top: 0px;
    right: 0px;
    background-color: white
}



div.icon.level0{
    opacity:0.1;
    background-color: white;
}

div.icon.level0 div{
    background-color: black;
}

div.icon.level1 > div:nth-child(4){
    width: 14px;
}

div.icon.level2 div:nth-child(4){
    width: 12px;
}

div.icon.level3 div:nth-child(4){
    width: 10px;
}

div.icon.level4 div:nth-child(4){
    width: 8px;
}

div.icon.level5 div:nth-child(4){
    width: 6px;
}

div.icon.level6 div:nth-child(4){
    width: 4px;
}

div.icon.level7 div:nth-child(4){
    width: 2px;
}

div.icon.level8 div:nth-child(4){
}

input.filter{
    width:200px;
}

input.insert{
    display:none;
    width:100%;
    height: 400px;
    text-align: center;
    font-size: 5em;
}

input.insert.toggled{
    display:inherit;
}