body{
        font-family:Arial,Helvetica,sans-serif;
}

.active{
    display:show;
}

.inactive{
    display:none;
}

.modified{
    background-color:#FFC0C0;
}

#container{
    width:960px;
    //height:50px;
    //background-color: yellow;
}

#container div .content{
    width:95%;
}

#container div input{
    width:95%;
}

div.headline{
    width:200px;
    text-align:right;
    float:left;
    //font-size:1.5em;
    color:#6CA0FF;
}

div.item{
    width:400px;
    float:left;
}

div.date{
    width:200px;
    float:left;
}

div.buttons{
    width:100px;
    float:left;
}

div.spacer{
    margin-left:260px;
    height:5px;
    clear:both;
    text-align: center;
}

div.addContainer{
    width:100%;
    background-color: #E2D9D9;
}

a.addButton{
    text-decoration: none;
}

div.status{
    width:10px;
    float:left;
    margin-right: 50px;
}

.buttonImage{
    opacity:0.1;
}

.arrow {
    opacity:0.1;

}

.arrow.down {
}

.arrow.up {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg);
}

.arrow.right {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg);
}

.arrow.left {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg);
}